.app-download {
  padding-top: 420px;
  padding-bottom: 21px;
  background-color: @main-color;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: ~"calc(50% - 31px)" 108px, center -68px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-position: ~"calc(50% - 31px)" 108px, center -68px;
    background-size: 258px 286px, 222% 462px;
  }
}

@media (min-width: @tablet-width) {
  .app-download {
    padding-top: 26px;
    padding-bottom: 85px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: ~"calc(50% + 1px)" 73px, center 100%;
    background-repeat: no-repeat;
    background-color: @main-color;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-position: ~"calc(50% + 1px)" 73px, center 100%;
      background-size: 700px 545px, 1200px 729px;
    }
  }
}

@media (min-width: @desktop-width) {
  .app-download {
    padding-bottom: 80px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: ~"calc(50% + 71px)" 210px, center top;
    background-repeat: no-repeat;
    background-color: @main-color;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-position: ~"calc(50% + 71px)" 210px, center top;
      background-size: 1050px 645px, 2560px 913px;
    }
  }
}
