.contacts__wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding-top: 45px;
    padding-bottom: 1px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    padding-top: 63px;
    padding-bottom: 1px;
  }
}

@media (min-width: @tablet-width) {
  .contacts__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .contacts__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  line-height: 30px;
  color: @main-color;
  text-align: center;
}

.contacts__text--title {
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .contacts__text--title {
    padding-bottom: 37px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__text--title {
    padding-bottom: 51px;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @main-color;
  text-align: center;
}

@media (min-width: @desktop-width) {
  .contacts__title {
    padding-bottom: 22px;
  }
}

.contacts__text--link {
  display: block;
  font-weight: 100;
  color: @sec-color;
  text-decoration: none;

  &:hover,
  :focus {
    color: @main-color;
    text-decoration: underline;
  }

  &:active {
    color: @blue-dark-30;
    text-decoration: none;
  }
}

.contacts__cell {
  box-sizing: border-box;
  padding-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .contacts__cell {
    width: 250px;
    padding-bottom: 43px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__cell {
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__cell--mail {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .contacts__cell--address {
    order: 2;
  }
}
