.download__title {
  display: none;
  margin: 0;
}
.download__remark {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  color: @white;
  text-align: center;
}
.download__list {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 12px;
}
