.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 287px;
  height: 287px;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-right: 0;
  padding-left: 0;
}

.footer--index {
  display: none;
}

.footer__social {
  width: 180px;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
    height: 127px;
    padding-top: 35px;
    padding-bottom: 38px;
  }

  .footer--index {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding-top: 72px;
    padding-bottom: 74px;
  }
}
