.map {
  position: relative;
  min-height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: 100%;
}

@media (min-width: @tablet-width) {
  .map {
    min-height: 356px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map {
    min-height: 521px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100%;
  }
}
