.page-header {
  min-height: 712px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: @blue-dark;
  &.page-header--bg-bottom {
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-position: ~"calc(50% - 33px)" 426px, center bottom;
  }
}
