.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 437%;
  background-repeat: no-repeat;
  background-color: @main-color;
}

.page-header--bg-bottom {
  min-height: 720px;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: ~"calc(50% - 31px)" 434px, center bottom;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: none;
  }

  .page-header--bg-bottom {
    min-height: 365px;
    background-image: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: @blue-dark-30;
  }

  .page-header--bg-bottom {
    min-height: 110px;
  }
}
