.reviews {
  background-color: @white;
}

.reviews__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 43px;
  padding-bottom: 40px;
}

.reviews__toggles {
  margin: 0;
  text-align: center;
}
