.tool {
  display: flex;
}

.tool__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.tool__item {
  width: 54px;
  height: 44px;

  &::after {
    content: "";
    position: absolute;
    top: 556px;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: @grey-medium;
  }
}

.tool__icon {
  fill: @blue-dark-30;

  &:hover,
  &:focus {
    fill: @blue-dark-50;
  }

  &:active {
    fill: @sec-color;
  }
}

@media (min-width: @tablet-width) {
  .tool {
    margin-top: -9px;
  }

  .tool__list {
    flex-direction: column;
    width: 29px;
    margin: 0;
  }

  .tool__item {
    margin-top: 16px;
    width: 28px;
    height: 24px;

    &::after {
      top: 55px;
      left: 0;
      width: 276px;
    }
  }

  .tool__item:nth-child(2) {
    margin-top: 51px;

    &::after {
      top: 128px;
      left: 0;
    }
  }

  .tool__item:nth-child(3) {
    margin-top: 45px;

    &::after {
      top: 198px;
      left: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .tool {
    margin-top: 13px;
  }

  .tool__list {
    width: 48px;
  }

  .tool__item {
    margin-top: 0;
    width: 48px;
    height: 51px;

    &::after {
      top: 75px;
      left: 0;
      width: 410px;
    }
  }

  .tool__item:nth-child(2) {
    margin-top: 24px;

    &::after {
      top: 148px;
      left: 0;
    }
  }

  .tool__item:nth-child(3) {
    margin-top: 20px;

    &::after {
      top: 218px;
      left: 0;
    }
  }
}
